:root {
    --primary-color: #f4c2c2; /* Rosa pastel - suavidad y dulzura */
    --primary-color-hover: rgba(244, 194, 194, 0.4);
    --secondary-color: #ffb7b2; /* Melocotón suave - atractivo y moderno */
    --accent-color: #ffd1a9; /* Durazno claro - cálido y acogedor */
    --background-color: #fffaf0; /* Crema claro - neutro y suave */
    --text-color: #6b4226; /* Marrón cálido - tono natural para el texto */
    --highlight-color: #ffefba; /* Amarillo claro - toque alegre para resaltar */
    --dark-color: #533747; /* Marrón oscuro - elegante y serio para contrastes */
    --shadow-color: 40deg 28% 61%;
    --container-color: hsl(0, 0%, 100%);
    --shadow-elevation-medium:
        0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.44),
        0.7px 1.5px 1.7px -1px hsl(var(--shadow-color) / 0.4),
        2px 3.9px 4.6px -2px hsl(var(--shadow-color) / 0.36),
        5px 10px 11.7px -3px hsl(var(--shadow-color) / 0.32);
    --shadow-elevation-high:
        0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.41),
        1.2px 2.4px 2.8px -0.4px hsl(var(--shadow-color) / 0.39),
        2.3px 4.6px 5.4px -0.9px hsl(var(--shadow-color) / 0.37),
        4px 7.9px 9.2px -1.3px hsl(var(--shadow-color) / 0.35),
        6.6px 13.3px 15.5px -1.7px hsl(var(--shadow-color) / 0.34),
        10.7px 21.5px 25px -2.2px hsl(var(--shadow-color) / 0.32),
        16.7px 33.4px 38.9px -2.6px hsl(var(--shadow-color) / 0.3),
        25px 50px 58.3px -3px hsl(var(--shadow-color) / 0.28);
}

.product-stock-section {
    border-bottom: 1px solid #cccccc;
    padding: 0.5rem 0;
}

.product-stock-table {
    max-width: 1150px !important;
    font-size: 12px;
}

.product-stock-table tbody {
    display: block;
    max-height: 45rem;
    overflow-y: auto;
}

.botonesCUS {
    border-bottom: 1px solid #cccccc;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
}

.custom-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #323232;
  color: #fff;
  padding: 10px 18px;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 9999;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
.custom-toast.show {
  opacity: 1;
  transform: translateY(0);
}
.custom-toast.info { background: #2196f3; }
.custom-toast.success { background: #4caf50; }
.custom-toast.warning { background: #ff9800; }
.custom-toast.error { background: #f44336; }


.detail-requirement {
    border-bottom: 1px solid #cccccc;
}
.detail-requirement, .detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;
}

