:root {
    --primary-color: #f4c2c2; /* Rosa pastel - suavidad y dulzura */
    --primary-color-hover: rgba(244, 194, 194, 0.4);
    --secondary-color: #ffb7b2; /* Melocotón suave - atractivo y moderno */
    --accent-color: #ffd1a9; /* Durazno claro - cálido y acogedor */
    --background-color: #fffaf0; /* Crema claro - neutro y suave */
    --text-color: #6b4226; /* Marrón cálido - tono natural para el texto */
    --highlight-color: #ffefba; /* Amarillo claro - toque alegre para resaltar */
    --dark-color: #533747; /* Marrón oscuro - elegante y serio para contrastes */
    --shadow-color: 40deg 28% 61%;
    --container-color: hsl(0, 0%, 100%);
    --shadow-elevation-medium:
        0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.44),
        0.7px 1.5px 1.7px -1px hsl(var(--shadow-color) / 0.4),
        2px 3.9px 4.6px -2px hsl(var(--shadow-color) / 0.36),
        5px 10px 11.7px -3px hsl(var(--shadow-color) / 0.32);
    --shadow-elevation-high:
        0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.41),
        1.2px 2.4px 2.8px -0.4px hsl(var(--shadow-color) / 0.39),
        2.3px 4.6px 5.4px -0.9px hsl(var(--shadow-color) / 0.37),
        4px 7.9px 9.2px -1.3px hsl(var(--shadow-color) / 0.35),
        6.6px 13.3px 15.5px -1.7px hsl(var(--shadow-color) / 0.34),
        10.7px 21.5px 25px -2.2px hsl(var(--shadow-color) / 0.32),
        16.7px 33.4px 38.9px -2.6px hsl(var(--shadow-color) / 0.3),
        25px 50px 58.3px -3px hsl(var(--shadow-color) / 0.28);
}

.input-style-number-spinner {
    text-decoration: none;
    border: 2px solid var(--dark-color);
    border-radius: 8px;
    height: 100%;
    padding: 0.5rem;
}

.input-style-number-spinner::-webkit-inner-spin-button,
.input-style-number-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-style-number-spinner {
    -moz-appearance: textfield;
}